.main {
  display: flex;
  flex-direction: column;
  .info_section {
    max-width: 1600px;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    .title {
      position: relative;
      align-self: center;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 120px;
      background: -webkit-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,229,0,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      display: inline-block;
      .title_back {
        position: absolute;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 120px;
        background: -webkit-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,229,0,1) 100%);
        opacity: 0.63;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        left: 6px;
      }
    }
    .main_subtitle {
      font-size: 50px;
      font-weight: 900;
      max-width: 800px;
      opacity: 1;
    }
    .span {
      color: #FF5C00;
    }
    .frame_container {
      align-self: flex-end;
      width: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      .frame {
        position: relative;
        background: url(../images/figures.webp) center / cover no-repeat;
        width: calc((100vh - 470px) * 2);
        height: calc(100vh - 470px);
        border: 3px solid #131313;
        margin: 20px 0 30px 0;
        .frame_square {
          position: absolute;
          width: 20px;
          height: 20px;
          border: 3px solid #131313;
          background: white;
          display: inline-block;
          &:nth-of-type(1) {
            top: -10px;
            left: -10px;
          }
          &:nth-of-type(2) {
            top: -10px;
            right: -10px;
          }
          &:nth-of-type(3) {
            bottom: -10px;
            left: -10px;
          }
          &:nth-of-type(4) {
            bottom: -10px;
            right: -10px;
          }
        }
      }
    }
  }
  
  .what_section {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 50px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .what_title {
      font-weight: 900;
      font-size: 70px;
      text-align: center;
    }
    .paragraph {
      margin: 15px 15px;
      position: relative;
      border: 3px solid #131313;
      padding: 10px;
      font-size: 32px;
      max-width: 800px;
      &:nth-of-type(2) {
        align-self: flex-end;
      }
      .paragraph_square {
        position: absolute;
        background: white;
        width: 20px;
        height: 20px;
        border: 3px solid #131313;
        display: inline-block;
        &:nth-of-type(1) {
          top: -10px;
          left: -10px;
        }
        &:nth-of-type(2) {
          top: -10px;
          right: -10px;
        }
        &:nth-of-type(3) {
          bottom: -10px;
          left: -10px;
        }
        &:nth-of-type(4) {
          bottom: -10px;
          right: -10px;
        }
      }
    }
  }

  .image_section {
    .image {
      width: 100%;
    }
  }
}

@keyframes subtitle-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}